/* #region common */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --bool-dark: rgba(26,26,26,1);
    --bool-primary: rgba(254,105,1,1);
    --bool-white: rgba(255,255,255,1);
    --bool-success: rgba(0,129,1,1);
    --bool-danger: rgba(255,1,1,1);

}

a
{
    text-decoration: none;
}

.container
{
    width: 70%;
    max-width: 1176px;
    margin: auto;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-4
{
    width: calc((100%/12)*4);
    padding: 1rem;
}

img
{
    max-width: 100%;
}



/* #endregion common */

/* #region utility */
.d_flex
{
    display: flex;
}

.justify_content_between
{
    justify-content: space-between;
}

.justify_content_end
{
    justify-content: flex-end;
}
.align_items_center
{
    align-items: center;
}

.text_end
{
    text-align: end;
}

.text_center
{
    text-align: center;
}

.py_2
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/* #endregion utility */

/* #region debug */
.debug header
{
    height: 80px;
}

.debug main
{
    background-color: rgba(0, 255, 255, 0.367);
    height: 600px;
}

.debug footer
{
    background-color: rgba(167, 121, 202, 0.367);
    height: 100px;
}
.debug .col-4
{
    background-color: rgba(134, 7, 7, 0.742);
    height: 300px;
    border: 1px dashed black;
}
/* #endregion debug */

/* #region header */
#site_header
{
    background-color: var(--bool-primary);
    color: var(--bool-white);
    padding: 1rem 0;
}

ul.left_menu, .right_menu
{
    list-style: none;
    display: flex;
    gap: 0.5rem;
    flex-grow: 1;
    align-self: center;

    & a
    {
        color: var(--bool-white);
    }
}
.logo
{
    flex-grow: 2;
}

/* #endregion header */

/* #region main */

.card
{
    box-shadow: 0 0 15px gray;
    border-radius: 0.5rem;
}

.card img
{
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;

}

.card .images
{
    position: relative;
}

.card .images .like
{
    position: absolute;
    top: 0.75rem;
    right: 0;
    background-color: var(--bool-white);
    padding: 0.5em;
}

.like:hover
{
    color: var(--bool-danger);
}

.card .images img
{
    display: block;
}

.card > .images > .bottom
{
    display: none;
}

.card:hover .top
{
    display: none;
}

.card:hover .bottom
{
    display: block;
}

.card_body
{
    padding: 0.5rem;
}

.card_body > strong
{
    color: gray;
}

.card_body > h4
{
    text-transform: uppercase;
}

.card .badges
{
    position: absolute;
    bottom: 1rem;
    left: 0;
    display: flex;
    gap: 0.25rem;
    font-size: 12px;
    color: var(--bool-white);
}

.badges .discount
{
    background-color: var(--bool-danger);
}

.badges .category
{
    background-color: var(--bool-success);
}

.badges .discount, .badges .category
{
    padding: 2px 0.5rem;
}

.pricing
{
    display: flex;
    gap: 2px;
}

.pricing .discounted
{
    color: var(--bool-danger);
}
.pricing .full
{
    text-decoration: line-through;
}

/* #endregion main */

/* #region footer */
#site_footer
{
    background-color: var(--bool-dark);
    color: var(--bool-white);
    padding: 2rem 0;
}

.social > i
{
    padding: 0.5rem 0;
}
/* #endregion footer */







